/* * FONT IMPORTS */
@font-face
{
  font-family: 'DosisExtraLight';
  src: url('/fonts/Dosis/static/Dosis-ExtraLight.ttf');
  font-weight: 200;
}

@font-face
{
  font-family: 'DosisRegular';
  src: url('/fonts/Dosis/static/Dosis-Regular.ttf');
  font-weight: 400;
}

@font-face
{
  font-family: 'DosisSemibold';
  src: url('/fonts/Dosis/static/Dosis-SemiBold.ttf');
  font-weight: 600;
}

@font-face
{
  font-family: 'Electrolize';
  src: url('/fonts/Electrolize/Electrolize-Regular.ttf');
  font-weight: 400;
}

:root
{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --dark-green: rgba(63, 158, 62, 1);
  --bright-green: rgba(95, 225, 94, 1);
  --dark-blue: rgba(41, 129, 230, 1);
  --light-blue: rgba(108, 179, 255, 0.9);
  --light-blue-full: rgba(108, 179, 255, 1);
  --off-black: rgba(44, 47, 44, 1);
  --white: rgba(255, 255, 255, 1);
  --off-white: rgba(238, 238, 238, 1);

  --dosis-extra-light: 'DosisExtraLight', serif;
  --dosis-regular: 'DosisRegular', serif;
  --dosis-semibold: 'DosisSemibold', serif;
  --electrolize: 'Electrolize', sans-serif;
}

a
{
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover
{
  color: #535bf2;
}

body
{
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1
{
  font-size: 3.2em;
  line-height: 1.1;
}

button
{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover
{
  border-color: #646cff;
}

button:focus,
button:focus-visible
{
  outline: 4px auto -webkit-focus-ring-color;
}